body {
  max-width: 1440px;
  color: #3e4056;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Open Sans", Roboto,
    Oxygen, Ubuntu, Cantarell, "Segoe UI", "Helvetica Neue", sans-serif;
}
